In [32]:
import numpy as np
import pandas as pd

In [4]:
a=np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [6]:
np.zeros((4,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [9]:
b=np.linspace(10,30,40)
b

array([10.        , 10.51282051, 11.02564103, 11.53846154, 12.05128205,
       12.56410256, 13.07692308, 13.58974359, 14.1025641 , 14.61538462,
       15.12820513, 15.64102564, 16.15384615, 16.66666667, 17.17948718,
       17.69230769, 18.20512821, 18.71794872, 19.23076923, 19.74358974,
       20.25641026, 20.76923077, 21.28205128, 21.79487179, 22.30769231,
       22.82051282, 23.33333333, 23.84615385, 24.35897436, 24.87179487,
       25.38461538, 25.8974359 , 26.41025641, 26.92307692, 27.43589744,
       27.94871795, 28.46153846, 28.97435897, 29.48717949, 30.        ])

In [11]:
np.random.rand(5,5)

array([[0.44718943, 0.74023167, 0.71811984, 0.67087427, 0.9339654 ],
       [0.0210201 , 0.0185711 , 0.30768316, 0.14503635, 0.27484354],
       [0.5461373 , 0.40120982, 0.03062488, 0.17558031, 0.06697302],
       [0.87005288, 0.45897848, 0.99735568, 0.5919973 , 0.7449371 ],
       [0.17822728, 0.61545199, 0.35794543, 0.78873332, 0.84678539]])

In [21]:
x=np.random.random(25).reshape(5,5)
x

array([[0.74191613, 0.46025715, 0.05789991, 0.14714653, 0.50802055],
       [0.09705764, 0.68600823, 0.23160012, 0.7199468 , 0.90582593],
       [0.70505306, 0.09115034, 0.841807  , 0.5638837 , 0.74570191],
       [0.69756315, 0.16521139, 0.69865484, 0.65807941, 0.35369266],
       [0.15198845, 0.02183678, 0.14005849, 0.38571209, 0.24627067]])

In [26]:
for i in x.flat:
  print(i)

0.741916126101214
0.4602571494334786
0.05789990549222901
0.14714652803381179
0.5080205503344563
0.09705763596651296
0.6860082315698043
0.23160011696381888
0.7199468022611144
0.905825928311062
0.7050530636967295
0.09115033664661576
0.8418069985368968
0.5638836973977572
0.7457019139543476
0.6975631546511575
0.16521138981616124
0.698654840156444
0.6580794137243102
0.3536926553297267
0.15198845398177108
0.021836782750585315
0.14005849142323668
0.3857120870240437
0.24627066701495837

In [27]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [29]:
d=np.random.random(20).reshape(4,5)
d

array([[0.05856222, 0.58387824, 0.76231012, 0.55173484, 0.29842871],
       [0.21829852, 0.80179913, 0.38826517, 0.63845594, 0.19506565],
       [0.67241796, 0.19204398, 0.88374736, 0.83092944, 0.18164033],
       [0.32898811, 0.13465897, 0.30100156, 0.72060091, 0.42822579]])

In [30]:
d[2]

array([0.67241796, 0.19204398, 0.88374736, 0.83092944, 0.18164033])

In [31]:
d.sum()

9.171052966831033

In [42]:
data={"istanbul":2,"ankara":4,"muğla":5,"sakarya":6}
pd.Series(data)

istanbul    2
ankara      4
muğla       5
sakarya     6
dtype: int64

In [117]:
from numpy.random import randn
dat=randn(2,2)
columns = ["plaka","nüfus(milyon)"] 
df = pd.DataFrame(dat,index = ["İstanbul","Ankara"],columns = columns) 
df

             plaka  nüfus(milyon)
İstanbul  1.129558      -0.708246
Ankara   -0.610634      -0.333700

In [118]:
df["nüfus"]

KeyError: 'nüfus'

In [72]:
df["plaka"]

İstanbul   -1.168797
Ankara     -1.837243
Name: plaka, dtype: float64

In [74]:
df["araçsayısı"]=randn(2)

In [75]:
df

             plaka     nüfus  araçsayısı
İstanbul -1.168797  0.604548   -1.703801
Ankara   -1.837243 -0.325613   -0.585504

In [76]:
df["toplam"]=df["plaka"]+df["nüfus"]+df["araçsayısı"]

In [77]:
df

             plaka     nüfus  araçsayısı   toplam
İstanbul -1.168797  0.604548   -1.703801 -2.26805
Ankara   -1.837243 -0.325613   -0.585504 -2.74836

In [78]:
df["toplam"]

İstanbul   -2.26805
Ankara     -2.74836
Name: toplam, dtype: float64

In [79]:
df

             plaka     nüfus  araçsayısı   toplam
İstanbul -1.168797  0.604548   -1.703801 -2.26805
Ankara   -1.837243 -0.325613   -0.585504 -2.74836

In [84]:
df["plaka"]=["34","06"]

In [85]:
df

         plaka     nüfus  araçsayısı   toplam
İstanbul    34  0.604548   -1.703801 -2.26805
Ankara      06 -0.325613   -0.585504 -2.74836

In [90]:
df["nüfus"]=["16 milyon","5 milyon"]

In [91]:
df

         plaka      nüfus araçsayısı   toplam
İstanbul    34  16 milyon  10 milyon -2.26805
Ankara      06   5 milyon   4 milyon -2.74836

In [88]:
df["araçsayısı"]=["10 milyon","4 milyon"]

In [89]:
df

         plaka nüfus araçsayısı   toplam
İstanbul    34   16m  10 milyon -2.26805
Ankara      06    5m   4 milyon -2.74836

In [92]:
df["toplam"]=df["nüfus"]+df["araçsayısı"]

In [93]:
df

         plaka      nüfus araçsayısı              toplam
İstanbul    34  16 milyon  10 milyon  16 milyon10 milyon
Ankara      06   5 milyon   4 milyon    5 milyon4 milyon

In [105]:
df = pd.DataFrame(index = ["muğla","istanbul","ankara"],columns = columns)
df

         plaka nüfus
muğla      NaN   NaN
istanbul   NaN   NaN
ankara     NaN   NaN

In [107]:
df["plaka"]=["48","34","06"]

In [108]:
df

         plaka nüfus
muğla       48   NaN
istanbul    34   NaN
ankara      06   NaN

In [119]:
df

             plaka  nüfus(milyon)
İstanbul  1.129558      -0.708246
Ankara   -0.610634      -0.333700

In [121]:
df["yoksul(milyon)"]=["12333333","77749023","2429237"]
df

ValueError: Length of values (3) does not match length of index (2)